
@font-face{font-family: DMSansRegular;src: url(../FONTS/DM_Sans/DMSans-Regular.ttf);}
@font-face{font-family: DMSansMedium;src: url(../FONTS/DM_Sans/DMSans-Medium.ttf);}
@font-face{font-family: DMSansItalic;src: url(../FONTS/DM_Sans/DMSans-Italic.ttf);} 
@font-face{font-family: DMSansBoldItalic;src: url(../FONTS/DM_Sans/DMSans-BoldItalic.ttf);}
@font-face{font-family: DMSansBold;src: url(../FONTS/DM_Sans/DMSans-Bold.ttf);}
@font-face{font-family: DMSansMediumItalic;src: url(../FONTS/DM_Sans/DMSans-MediumItalic.ttf);}
@font-face{font-family: Megren; src: url(../FONTS/megren-font/MegrendemoRegular-OVxz6.otf);}

*{
	font-family: "DMSansRegular";
	/*sans-serif*/;
}
body::-webkit-scrollbar {
    display: none;
    margin: 0; padding: 0;
}
main{
	margin: auto auto;
}
nav.navi{
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	padding: 1%;
	display: flex;
	background: rgba(138,43,226,0.5);
	backdrop-filter: blur(5px);
	
	z-index: 999;
}   
.mainc{
	margin: 80px auto;
	padding: 5% 8%;
}
nav a{display: inline-block;text-decoration: none;color:whitesmoke;}
nav div.hdrtxtnav{font-size: 2em;width: 50%;font-weight: bold;
	margin-left: 10px;margin-right: 7.5%; color: whitesmoke;}
nav div.mems{display: inline-block;margin: auto 10% auto 0%;}

@media only screen and (max-width: 950px){
div.hdrtxtnav{margin-right:1%;font-size: 1.7em;}
.mainc{margin-top: 100px;}
}
@media only screen and (max-width: 399px){
nav.navi{display: block}div.hdrtxtnav{width: 100%;}
}

div.devsH-subH{display: flex; cursor: pointer;}
div.devsH{
	width: 40%; font-size: 1.5em;text-align: left;
	font-weight: bold;
} div.devsH span.desbold{font-family:"Megren"; letter-spacing: 2;}
div.subH{
	width: 40%;  font-size: 1.5em;margin: auto 0 auto auto; text-align: right;
}
div.mainCstrt{margin:3% auto;}
div.mainCstrt h3{font-size: 1.5em;}
div.members {display: flex; margin-bottom:3%;} div.members ul.names-m{text-align: left; margin: 0 auto 0 0;}
div.members ul.prof{text-align: left; margin: 0 auto; list-style-type:">> ";}
 div.abtmem-back{display: flex;}
div.abtmem-back div.abtmem{width: 40%; font-size: 1.5em;text-align: left;
	font-weight: bold;}
div.abtmem-back div.back{width: 40%;  font-size: 1.5em;text-align: right;margin: auto 0 auto auto}
p.frstIntr{text-align: justify;}
div.banimg img{width: 100%;}
div.contactss{display: flex;}
div.emails, div.fbs{margin: auto auto;padding: auto auto;}
div.contword{border-right: solid 1px #1a1a1a; margin:auto 0 auto 0 ; padding: 3%;}
div.abtmem-cont img{width:25%;}
div.abtmem-cont p{text-align: justify;}
div.abtmem-cont div.mangalindan img{ float: left; margin: 2.5% 2.5% 2.5% 0%}
div.abtmem-cont div.flores img{ float: right;margin: 2.5% 0% 2.5% 2.5% }
div.mangalindan{margin-bottom: 7%;}
img:hover{opacity: 0.5; cursor: pointer;}
img{ transition-timing-function: ease-out;} 
div.banimg img:hover div.e10e5hr{display: block; width: 50%;}
nav .hdrtxtnav:hover{color: rgba(256,256,256,0.5); cursor: pointer;}
div.e10e5hr{display: none;width: 0%; height: 1px;transition-timing-function: ease;}
nav div.mems:hover{border: 1px solid black; border-radius:20px; background-color:#1a1a1a;}
div.devSH-subH:hover span.desbold{ font-size:2.3em;}
div.devSH-subH:hover .subH{ font-size:2.3em;}