@font-face{font-family: DMSansRegular;src: url(../FONTS/DM_Sans/DMSans-Regular.ttf);}
@font-face{font-family: DMSansMedium;src: url(../FONTS/DM_Sans/DMSans-Medium.ttf);}
@font-face{font-family: DMSansItalic;src: url(../FONTS/DM_Sans/DMSans-Italic.ttf);} 
@font-face{font-family: DMSansBoldItalic;src: url(../FONTS/DM_Sans/DMSans-BoldItalic.ttf);}
@font-face{font-family: DMSansBold;src: url(../FONTS/DM_Sans/DMSans-Bold.ttf);}
@font-face{font-family: DMSansMediumItalic;src: url(../FONTS/DM_Sans/DMSans-MediumItalic.ttf);}
@font-face{font-family: Megrenn; src: url(../FONTS/MegrendemoRegular-OsVxz6.otf);}
@font-face{font-family: Megren; src: url(../FONTS/megren-demo.regular.ttf);}
@font-face{font-family: Gothic; src: url(../FONTS/UnifrakturMaguntia-Regular.ttf);}
@font-face{font-family: Arimo; src: url(../FONTS/Arimo/Arimo-VariableFont_wght.ttf);}
@font-face{font-family: Noto; src: url(../FONTS/Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth,wght.ttf);}